.overlay {
    display: none; /* Initially hidden */
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.overlay img {
    transform: translateY(-50%);
}

.overlay-active .overlay {
    display: flex; /* Show the overlay */
}

.caption {
    color: white;
    margin-top: 10px;
    text-align: center;
}

.close, .prev, .next {
    position: absolute;
    top: 10px;
    font-size: 30px;
    color: white;
    text-decoration: none;
}

.close {
    right: 20px;
}

.prev {
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.next {
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}
